{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Register - Code Debugging App{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow">
            <div class="card-header bg-success text-dark text-center">
                <h4><i class="fas fa-user-plus"></i> Register</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-grid gap-2 mt-3">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-user-plus"></i> <span style="color: black;">Register</span>
                        </button>
                    </div>
                </form>
                <hr>
                <div class="text-center">
                    <p class="mb-0">Already have an account? 
                        <a href="{% url 'authentication:login' %}" class="text-decoration-none">
                            Login here
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}